.TrackUploadItem {
  background: $c_primary-dark;
  margin: 20px;

  //height: 455px;

  transition: all 200ms ease;
  transform: translateZ(0);

  border-radius: 3px;
  overflow: hidden;

  box-shadow: 4px 4px 14px 1px rgba(0,0,0,0.05);

  &.-anim-enter {
    height: 0px;
  }

  &.-anim-enter-active {
    height: 455px;
  }

  > .LocalTabContext > .content {
    height: 400px;
    background: $c_trans-dark-1;

    padding: 20px;
  }

  > .LocalTabContext > .footer {
    padding: 20px;

    display: flex;

    justify-content: space-between;
    align-items: center;

    position: relative;
  }

  > .LocalTabContext > .footer > .buttons > * {
    margin-left: 10px;
  }
}
