.TrackUploadView .PageBody {
  display: flex;

  > .list {
    flex-grow: 1;
    background: $c_trans-dark-1;
  }

  > .list > .button {
    padding: 20px;
    padding-top: 0px;

    width: 100%;
    box-sizing: border-box;
  }

  > .sidebar {
    width: 350px;
    flex-shrink: 0;
  }
}
