.DefaultButton {
  padding: 14px;
  border-radius: 3px;

  font-size: 13px;
  font-weight: 500;

  text-transform: uppercase;

  background: rgba(0, 0, 0, 0.3);

  height: 37px;

  @extend .Button;

  &:hover {
    background: white;
    color: black;

    svg {
      fill: black;
    }
  }

  &.-isDisabled {
    background: transparent;
    opacity: 0.6;

    pointer-events: none;
  }

  &.-block {
    display: flex;
    width: 100%;
  }

  > .icon {
    height: 20px;
    width: 20px;
  }
}
