.Button {
  display: inline-flex;
  box-sizing: border-box;
  cursor: pointer;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;

  align-items: center;
  transition: all 200ms ease;
  justify-content: center;

  > .icon {
    height: 0px;
    display: flex;
    align-items: center;
    margin-right: 5px;

    &:last-child {
      margin-right: 0px;
    }

    icon {
      width: 24px;
      height: 24px;
    }
  }
}
