.TransportButton {
  height: 55px;
  width: 55px;

  opacity: 0.4;

  justify-content: center;

  @extend .Button;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 1;
  }

  &.-isActive {
    opacity: 1;

    svg {
      fill: $c_accent;
    }
  }

  > .icon {
    width: 20px;
    height: 20px;
  }
}
