.ToastItem {
    background: white;
    color: black;

    padding: 15px;

    margin-top: 15px;
    border-radius: 3px;

    position: relative;

    transition: all 200ms ease;

    height: 40px;
    width: 220px;

    overflow: hidden;

    &.animation-enter {
        animation-name: toast-animation;
        animation-duration: 500ms;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }

    &.animation-leave {
        animation-name: toast-animation;
        animation-duration: 500ms;
        animation-timing-function: ease;
        animation-direction: reverse;
        animation-fill-mode: forwards;
    }

    > .timeoutBar {
        height: 3px;
        background: $c_accent;

        position: absolute;

        bottom: 0px;
        left: 0px;
        right: 0px;

        transform-origin: 0%;
    }
}

@keyframes toast-animation {
    0% {
        transform: translateX(-200%);
        height: 0px;
        opacity: 0;
    }

    30% {
        transform: translateX(-200%);
        height: 40px;
        opacity: 0;
    }

    40% {
        height: 40px;
        transform: translateX(-200%);
        opacity: 0;
    }

    60% {
        height: 40px;
        transform: translateX(0%);
        opacity: 1;
    }

    80% {
        height: 40px;
        transform: translateX(10%);
        opacity: 1;
    }

    100% {
        height: 40px;
        transform: translateX(0%);
        opacity: 1;
    }
}
