// Default color

$c_text: white;

// Primary colors

$c_primary: #242c36;
$c_primary-dark: #1f252e;
$c_primary-bg: #15191e;

// Accent

$c_accent: #00ba8c;

// Transparencies

$c_trans-light-1: rgba(255,255,255,0.05);
$c_trans-light-2: rgba(255,255,255,0.1);
$c_trans-light-3: rgba(255,255,255,0.2);

$c_trans-dark-1: rgba(0,0,0,0.08);
$c_trans-dark-2: rgba(0,0,0,0.25);
$c_trans-dark-3: rgba(0,0,0,0.35);

// States

$c_state-invalid: #e43e22;
$c_danger: #d24542;

// Elements

$c_popover-bg: white;
$c_popover-text: black;

// Overlay

$c_overlay-bg: rgba(0, 0, 0, 0.3);
