// Variables

$commonListItem-image-size: 50px;

// Classes

/** Fixed **/

.commonFixed {
  position: fixed;

  /** DO NOT REMOVE, THIS ENSURES NO SCROLLING LAG **/
  transform: translate3d(0, 0, 0);
}

.commonFillBody {
  min-height: calc(100vh - 55px);
}

/** List item **/

.commonListItem {
  @extend %layout__row;
}

.commonListItem__image {
  margin-right: $pd_normal;
  height: $commonListItem-image-size;
  width: $commonListItem-image-size;
  flex-shrink: 0;
}

.commonListItem__content {
  word-break: break-all;
}

.commonListItem__header {
  margin-bottom: 5px;
  font-size: 14px;

  flex-shrink: 0;
}

.commonListItem__body {
  margin-bottom: 5px;
}

.commonListItem__footer {
  font-size: 13px;
}

.commonTag {
  box-sizing: border-box;
  padding: 6px 8px;

  font-size: 13px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @include shapeMask__rounded(50px);
}

/* Stats */

.commonStats {
  @extend %layout__row;
}

.commonStats__item {
  opacity: 0.5;
  margin-right: $pd_large;

  @extend %layout__row, %layout__align--vt, .transition__quick;

  &:hover {
    opacity: 1;
  }
}

.commonStats__icon {
  margin-right: 9px;
  margin-bottom: -4px;

  & svg {
    width: 15px;
    height: 15px;
  }
}

.commonStats__counter {
  font-size: 13px;
}

.commonStats__empty {
  @extend .commonText__weakText;
}

/* Module */

.commonModule {
  border-top: solid 1px $c_trans-light-1;
  padding: $pd_normal 0px;
}

.commonModule--noDivider {
  @extend .commonModule;

  border: none;
}

.commonModule__header {
  color: $c_accent;

  margin-bottom: $pd_normal;
  padding-bottom: $pd_normal;
}

/* Text */

.commonText__weakText {
  color: $c_trans-light-3;
  font-size: 13px;
}

.commonText__pageTitle {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;

  padding-bottom: $pd_large;
  margin-bottom: $pd_normal;
  border-bottom: solid 1px $c_trans-light-1;
}

/** Button **/

.common__buttonRow {
  display: flex;
  justify-content: flex-end;

  .wd-button {
    margin-left: $pd_normal;
  }
}

/** Paginated list **/

.paginatedList__paginator {
  &:first-child {
    margin-bottom: $pd_large;
  }

  &:last-child {
    margin-top: $pd_large;
  }
}

/** Infinite scroll list **/

.infiniteScrollList__moreButton {
  width: 100%;
}

.infiniteScrollList__pending {
  padding: $pd_large 0px;
  @extend %layout__align--hz;
}

.infiniteScrollList__loadingIndicator {
  padding: 50px 0px;
  @extend %layout__align--vt, %layout__align--hz;
}

/** Page **/

.pageHeader {
  background: $c_primary-dark;
}

.pageContent {
  background: $c_trans-dark-1;
  min-height: 100vh;
}

.pageTitle {
  padding: $pd_small;

  icon {
    width: 70px;
    height: 70px;

    svg {
      height: 40px;
      width: 40px;
    }
  }

  h1 {
    margin-right: $pd_small;
    font-size: 23px;
  }

  @extend %layout__row, %layout__align--vt;
}

/** Performance **/

.lazyLoadItem {
  position: relative;

  &--isActive {
    .lazyLoadItem__fake {
      opacity: 0;
    }

    .lazyLoadItem__real {
      opacity: 1;
    }
  }
}

.lazyLoadItem__fake {
  opacity: 1;

  @extend .transition__quick;
}

.lazyLoadItem__real {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;

  opacity: 0;

  @extend .transition__quick;
}
