// Variables

$pd_small: 10px;
$pd_normal: 15px;
$pd_large: 25px;

// Placeholders

/** Layout **/

%layout {
  display: flex;
}

%layout--grow {
  flex-grow: 1;
}

%layout--shrink {
  flex-shrink: 1;
}

%layout__row {
  @extend %layout;
  flex-direction: row;
}

%layout__row--left {
  justify-content: flex-start;
}

%layout__row--right {
  justify-content: flex-end;
}

%layout__col {
  @extend %layout;
  flex-direction: column;
}

%layout__align--vt {
  @extend %layout;
  align-items: center;
}

%layout__align--hz {
  @extend %layout;
  justify-content: center;
}
