// Classes

.notificationItemInPopover__image {
  position: relative;
}

.notificationItemInPopover__userAvatar {
  @include shapeMask__rounded(100%);

  border: solid 1px $c_popover-bg;
}

.notificationItemInPopover__relevantObjectImage {
  width: 20px;
  height: 20px;

  @include shapeMask__rounded(100%);

  position: absolute;
  right: 0px;
  bottom: 0px;

  border: solid 1px $c_popover-bg;
}
