// Classes

$popover-padding: $pd_normal;
$popover-text-light: rgba(0, 0, 0, 0.5);

.popover__container {
  position: absolute;
  z-index: 1000;
  transform: translateZ(0);

  &:after {
    content: '';
    padding-top: 25px;
    display: block;
  }
}

.popoverItem {
  padding: 10px 0px;
  white-space: nowrap;
  position: absolute;
}

.popoverItem__content {
  background: $c_popover-bg;
  color: $c_popover-text;

  border-radius: 3px;
  padding: $popover-padding;

  position: relative;
  overflow: hidden;

  z-index: 1;

  @extend .shadow__light;
}

.popover__title {
  margin: 0px (-$popover-padding);
  margin-top: -$popover-padding;
  padding: $pd_large 0px;

  text-align: center;
  position: relative;
  z-index: 1;

  //border-bottom: solid 1px $c_trans-dark-1;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.08);
}

.popover__content {
  margin: -$pd_normal;
  margin-top: 0px;
  flex-grow: 1;
}

/** Popover list **/

.popover__list {
  margin: 0px (-$popover-padding);
  max-height: 400px;
  height: 400px;
}

.popover__actions {
  margin: 0px (-$popover-padding);
  margin-bottom: -$popover-padding;

  background: $c_trans-dark-1;
  border-top: solid 1px $c_trans-dark-1;

  @extend %layout__row;
}

.popover__actionsBtn {
  padding: $popover-padding + 5;

  @extend %layout--grow, .transition__quick;

  &:hover {
    background: $c_trans-dark-1;
    cursor: pointer;
  }

  & .wd-button__label {
    width: 100%;
    text-align: center;
  }
}

.popover__listItem {
  padding: $popover-padding;

  @extend .transition__quick;

  &:hover {
    background: $c_trans-dark-1;
    cursor: pointer;
  }
}

.popover__listItemBody {
  color: $popover-text-light
}

.popoverOverlay {
  z-index: 1000;
}


// Types of popovers

.cursorPopover {
  padding: 30px 0px;
}

.elementPopover {
  pointer-events: all;
}
