@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }

}

.loadingIndicator {
  width: 50px;
  height: 50px;

  position: relative;
}

.loadingIndicator__pulse {
  position: absolute;

  top: 0px;
  bottom: 0px;

  left: 0px;
  right: 0px;

  border-radius: 100%;
  background-color: $c_accent;

  opacity: 0;

  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  &:nth-child(2) {
    animation-delay: 300ms;
  }

  &:nth-child(3) {
    animation-delay: 600ms;
  }
}
