.tabRow {
  @extend %layout__row;
}

.tabLink {
  display: block;
  padding: $pd_large - 5px;

  text-transform: uppercase;
  font-size: 14px;
  position: relative;

  @extend .transition__quick;

  &:after {
    display: block;
    content: '';

    position: absolute;
    height: 2px;
    width: 100%;

    bottom: 0px;
    left: 0px;

    @extend .transition__quick;
  }
}

.tabLink.isActive {
  color: $c_accent;

  &:after {
    background: $c_accent;
  }
}
