.Header {
  z-index: 200;

  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;

  pointer-events: none;
  position: fixed;
  transform: translateZ(0);

  > .element {
    height: 55px;
    width: 100%;

    background: $c_primary;
    pointer-events: all;
  }

  > .element > .inner {
    display: flex;

    max-width: $body_max_width;
    margin: auto;
  }

  > .element > .inner > .logoContainer {
    display: flex;
    align-items: center;

    margin-right: 25px;
    margin-left: 15px;
  }
}
