.HeaderNav {
  display: flex;
  width: 100%;

  padding-right: 10px;

  > .links {
    display: flex;
  }

  > .search {
    flex-grow: 1;
  }

  > .tools {
    display: flex;

    align-items: center;
  }

  > .tools .buttons {
    display: flex;

    padding: 5px;

    > * {
      margin: 5px;
    }
  }
}
