.NavLink {
  height: 55px;
  padding: 0px 20px;

  color: white;

  display: flex;
  align-items: center;
  vertical-align: middle;

  transition: all 200ms ease;

  &:hover {
    background: $c_trans-dark-2;
  }

  &.-isSelected {
    background: $c_trans-dark-2;
    color: $c_accent;

    svg {
      fill: $c_accent
    }
  }

  > .icon {
    width: 18px;
    height: 18px;

    margin-right: 5px;
  }

  > .label {
    font-size: 16px;
    font-weight: 500;

    margin-top: 1px;
  }
}
