.PageHeader {
  background: $c_primary-dark;

  > .title {
    padding: 10px;
    display: flex;
    align-items: center;
  }

  > .title > icon {
    width: 70px;
    height: 70px;

    svg {
      height: 40px;
      width: 40px;
    }
  }

  > .title > h1 {
    margin-right: $pd_small;
    font-size: 23px;
  }

  > .bottom {
    
  }
}
