.UserButton {
  height: 55px;
  width: 55px;

  display: flex;

  justify-content: center;
  align-items: center;

  cursor: pointer;

  > .image {
    height: 35px;
    width: 35px;

    border-radius: 50px;
    overflow: hidden;

    z-index: 1;
    position: relative;
  }
}
