.TabRow {
  display: flex;

  > .link {
    display: block;
    padding: 20px;

    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;

    position: relative;
    transition: all 200ms ease;

    cursor: pointer;
  }

  > .link:after {
    display: block;
    content: '';

    position: absolute;
    height: 2px;
    width: 100%;

    bottom: 0px;
    left: 0px;

    transition: all 200ms ease;
  }

  > .link.-isActive {
    color: $c_accent;
  }

  > .link.-isActive:after {
    background: $c_accent;
  }
}
