.commentListItem {
  margin-bottom: $pd_normal;

  &:last-child {
    margin-bottom: 0;
  }
}

.commentListItem__avatar {
  @include shapeMask__rounded(100%);
}

.commentListItem__header {
  @extend %layout__row;
}

.commentListItem__content {
  @extend %layout--grow;
}

.commentListItem__displayName {
  color: $c_accent;

  @extend %layout--grow;
}

.commentListItem__dateCreated {
  @extend .commonText__weakText;
}

.commentListItem__footer {
  margin-top: 10px;
}

.commentListItem__replyBox {
  margin-top: 10px;
}

.commentListItem__replies {
  margin-top: $pd_large;
}
