body {
  overflow-y: scroll;
  overflow-x: hidden;

  &.preventScroll {
    overflow-y: hidden;
  }
}

main {
  max-width: 1200px;
  height: 100%;
  min-height: calc(100vh - 50px);

  position: relative;
  margin: auto;

  background: $c_primary-dark;

  margin-top: $masthead-height;
  display: block;
}

main > div {
  flex-grow: 1;
}
