.Footer {
  max-width: 1200px;

  background: #13171b;
  margin: auto;
}

.footer__body {
  height: 250px;

  @extend %layout__row;
}

.footer__content {
  @extend %layout--grow;
}

.footer__links {
  height: 160px;
}

.footer__social {
  height: 70px;
  padding: 10px;
}

.footer__socialLinks {
  @extend %layout__row;
}

.footer__socialLinkItem {
  display: block;

  height: 70px;
  width: 70px;

  opacity: 0.5;

  img {
    height: 70px;
    width: 70px;

    padding: 20px;
    box-sizing: border-box;
  }

  filter: sepia(1) grayscale(1);

  &:hover {
    opacity: 1;
    filter: sepia(0) grayscale(0);
  }

  @extend .transition__quick;
}

.footer__watermark {
  opacity: 0.05;

  svg {
    height: 250px;
    width: 250px;

    box-sizing: border-box;
    padding: 40px;
  }
}

.footer__bottom {
  height: 50px;
  background: black;

  padding: 0px $pd_large;
  justify-content: space-between;

  font-size: 13px;
  color: $c_trans-light-3;

  @extend %layout__align--vt;
}
