.FileInput {
  display: flex;
  background: $c_trans-dark-2;

  border-radius: 3px;
  overflow: hidden;

  height: 37px;
  box-sizing: border-box;

  transition: all 200ms ease;
  cursor: pointer;

  align-items: center;
  justify-content: center;

  &:hover {
    background: $c_trans-light-1;
  }

  > .label {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(100% - 20px);
    overflow: hidden;
  }

  > .input {
    display: none;
  }
}
