.FormField {

  &.-full {
    width: 100%;
  }

  &.-half {
    width: calc(50% - 10px);;
  }

  &.-third {
    width: calc(33.3% - 10px);
  }

  > .label {
    display: block;

    color: $c_accent;
    font-weight: 500;

    margin-bottom: 15px;
  }

  > .errors > .errorItem {
    color: $c_danger;
    margin-top: 10px;
  }
}
