.ImageInput {
  display: block;

  height: 200px;
  width: 200px;

  border-radius: 3px;
  overflow: hidden;

  position: relative;
  cursor: pointer;

  &:hover > .container {
    background: $c_trans-light-1;
  }

  > .container {
    background: $c_trans-dark-1;

    border: solid 1px $c_trans-light-1;
    border-radius: 3px;

    transition: all 100ms ease;

    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }

  > .container > .image {
    height: 100%;
    width: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    transition: opacity 200ms ease;
    opacity: 0;
  }

  &.-hasRendered > .container > .image {
    opacity: 1;
  }

  > .overlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }

  > .input {
    display: none;
  }
}
