.TextInput {
  background: $c_trans-dark-1;
  border: solid 1px $c_trans-light-1;

  border-radius: 3px;
  overflow: hidden;

  height: 37px;
  box-sizing: border-box;

  transition: all 200ms ease;
  &.-hasFocus {
    background: white;
  }

  &.-hasFocus > .input {
    color: black;
  }

  &.-isMultiline {
    height: auto;
  }

  > .input {
    padding: 10px;
    width: 100%;

    color: white;
    background: transparent;
    outline: none;
    border: none;
    resize: none;

    font-size: 14px;
    font-family: 'Roboto', sans-serif;

    box-sizing: border-box;
  }
}
