.ModalHeader {
  padding: 35px;

  background: $modal_header_color;

  > .title {
    font-size: 27px;
    font-weight: 500;

    color: $c_accent;
  }

  > .subtitle {
    margin-top: 25px;

    font-size: 16px;
  }
}
