.dropdownInput {
  position: relative;

  @extend .transition__quick;

  &.isActive {
    .dropdownInput__handle {
      background: white;
      color: black;

      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    .dropdownInput__chevron svg {
      transform: rotate(180deg);
      fill: black;
    }
  }

  &.isDisabled {
    opacity: 0.2;
    pointer-events: none;
  }
}

.dropdownInput__handle {
  padding: $pd_small;
  background: $c_trans-dark-1;
  border: solid 1px $c_trans-light-1;

  @include shapeMask__rounded(3px);
  @extend .transition__quick, %layout__row;

  font-size: 14px;

  &:hover {
    cursor: pointer;
    background: $c_trans-light-1;
  }
}

.dropdownInput__selected {
  pointer-events: none;

  @extend %layout__align--vt, %layout--grow;
}

.dropdownInput__chevron {
  pointer-events: none;
  height: 15px;

  @extend %layout__align--vt;

  svg {
    @extend %layout__align--vt, .transition__quick;
  }
}

.dropdownInput__choicesContainer {
  top: 37px;
  left: 0px;
  right: 0px;

  position: absolute;
  z-index: 1000;

  background: white;

  border-radius: 2px;
  overflow: hidden;

  border-top-right-radius: 0px;
  border-top-left-radius: 0px;

  @extend .transition__quick;
}

.dropdownInput__choicesList {
  max-height: 250px;
}

.dropdownInput__shadowFilter {
  position: absolute;
  z-index: 11;
  width: 100%;
  height: 279px;
  pointer-events: none;
  box-shadow: 0 7px 6px -7px rgba(0,0,0,0.4) inset;
}

.dropdownInput__choiceItem {
  padding: $pd_normal 10px;
  color: black;

  font-size: 14px;

  @extend .transition__quick;

  &:hover {
    cursor: pointer;
    background: $c_trans-dark-1;
  }
}
