.fileInput {
  &.hasSelected {
    .fileInput__selectArea {
      background: $c_trans-dark-3;
      border-color: transparent;
    }
  }
}

.fileInput__selectArea {
  padding: 10px;
  border: solid 1px $c_trans-light-1;

  font-size: 14px;
  display: block;

  border-radius: 3px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @extend .transition__quick;

  &:hover {
    cursor: pointer;
    background: $c_trans-light-1;
  }
}
