.imageInput {
  position: relative;

  @extend .transition__quick;

  &.isActive {
    .imageInput__overlay {
      opacity: 0;
      background: rgba(0, 0, 0, 0.5);
    }

    .imageInput__selectArea {
      border-color: transparent;
    }
  }

  &.isDisabled {
    opacity: 0.2;
    pointer-events: none;
  }

  &.isSubmitting {
    pointer-events: none;
    opacity: 1;

    .imageInput__overlay {
      opacity: 1;
    }
  }
}

.imageInput__selectArea, .imageInput__overlay {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  position: absolute;
}

.imageInput__selectArea {
  border-radius: 3px;
  display: block;
  position: relative;
  z-index: 1;

  border: solid 1px $c_trans-light-1;

  @extend .transition__quick;

  &:hover {
    cursor: pointer;
    background: $c_trans-light-1;

    .imageInput__overlay {opacity: 1;}
  }
}

.imageInput__preview {
  @include shapeMask__rounded(3px);
}

.imageInput__overlay {
  z-index: 1;

  @include shapeMask__rounded(3px);
  position: absolute;

  @extend .transition__quick, %layout__align--vt, %layout__align--hz;
}

.imageInput__progress {
  position: absolute;
  bottom: 0px;

  left: 0px;
  right: 0px;
}

.imageInput__remove {
  display: block;
  box-shadow: none;

  padding: $pd_normal;
  background: $c_trans-dark-2;

  border-radius: 0px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  border: solid 1px $c_trans-light-1;

  text-align: center;
  background-clip: padding-box;
}

/** Has remove **/

.imageInput.hasRemove {
  .imageInput__selectArea {
    border-bottom: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
