$switchSize: 25px;

.switchInput {
  width: $switchSize * 2;
  border-radius: $switchSize;

  &:hover {
    .switchInput__rail {
      background: $c_trans-light-2;
      cursor: pointer;
    }
  }

  &.isActive {
    .switchInput__thumb {
      transform: translateX($switchSize);
      background: $c_accent;
    }
  }
}

.switchInput__rail {
  height: $switchSize;
  width: $switchSize * 2;

  background: $c_trans-dark-1;
  border: solid 1px $c_trans-light-1;

  border-radius: $switchSize;

  @extend .transition__quick;
}

.switchInput__thumb {
  height: $switchSize;
  width: $switchSize;
  border-radius: $switchSize;

  background: white;

  @extend .transition__quick;
}
