

// Classes

.textInput {
  background: $c_trans-dark-1;
  border: solid 1px $c_trans-light-1;

  @include shapeMask__rounded(3px);
  @extend .transition__quick, %layout__row;

  &:hover {
    cursor: text;
    background: $c_trans-light-1;
  }

  &.hasFocus {
    background: white;

    .textInput__input {
      color: black;
    }

    .textInput__prefix {
      color: black;
    }
  }

  &.isDisabled {
    opacity: 0.2;
    pointer-events: none;
  }
}

.textInput__prefix {
  padding: $pd_small;
  padding-right: 0px;

  flex-shrink: 0;
  
  color: $c_text;
  font-size: 14px;

  @extend .transition__quick, %layout__align--vt, %layout__align--hz;
}

.textInput__input {
  padding: $pd_small;
  color: $c_text;

  width: 100%;
  resize: none;

  font-size: 14px;
  font-family: 'Roboto', sans-serif;

  // Negate input defaults
  background: transparent;
  margin: -1px;
  outline: none;
  border: none;
  display: block;

  @extend .transition__quick;
}
