// Variables

$track-artwork-size: 180px;
$track-artwork-size_small: 100px;

// Classes

/** Track list item placeholder **/

.trackListItem__placeholder {
  height: $track-artwork-size;
  margin-bottom: $pd_large + 5;

  @extend %layout__row;
}

.trackListItem__placeholderArtwork {
  height: 180px;
  width: 180px;
  flex-shrink: 0;
  background: #15191e;
}

.trackListItem__placeholderBody {
  height: 180px;
  background: $c_primary;
  position: relative;
  flex-grow: 1;

  &:after {
    display: block;
    height: 180px;

    content: '';

    position: absolute;

    top: 0px;
    bottom: 0px;

    right: 0px;
    left: 0px;

    background: rgba(0, 0, 0, 0.3);
  }
}

/** Track list item **/

.trackListItem {
  position: relative;

  margin-bottom: $pd_large + 5;

  background: $c_primary;

  @include shapeMask__rounded(3px);
  @extend .shadow__light;
}

.trackListItem__background {
  overflow: hidden;
  position: absolute;

  top: 0px;
  bottom: 0px;
  left: $track-artwork-size;
  right: 0px;

  @extend %layout__align--vt, %layout__align--hz, .transition__quick;
}

.trackListItem__backgroundArtwork {
  width: 100%;
  height: 100%;

  transform: scale(1.5);
  opacity: 0.15;
  filter: grayscale(1);

  @extend .transition__slow;
}

.trackListItem__blurArtwork {
  opacity: 0;
  transform: scaleX(2.5) scaleY(1.7);
  @extend .transition__quick;
}

.trackListItem.isActive .trackListItem__blurArtwork {
  opacity: 1;
}

.trackListItem__foreground {
  position: relative;
  background: rgba(0, 0, 0, 0.3);

  @extend %layout__row, .transition__quick;
}

.trackListItem__content {
  padding: $pd_normal;

  @extend %layout__col, %layout--grow;
}

.trackListItem__artwork {
  height: $track-artwork-size;
  width: $track-artwork-size;

  flex-shrink: 0;
  background: $c_primary-bg;

  @extend .transition__quick;
}

.trackListItem__header {
  align-items: flex-start;

  @extend %layout__row, %layout__align--vt;
}

.trackListItem__body {
  @extend %layout--grow;
}

.trackListItem__primaryInfo {
  margin-left: $pd_normal;
  font-size: 16px;

  @extend %layout--grow;
}

.trackListItem__title {
  padding-bottom: 5px;
}

.trackListItem__type {
  margin-top: 5px;
  font-size: 13px;

  @extend .commonText__weakText;

  color: rgba(255, 255, 255, 0.5);
}

.trackListItem__genreBadge {
  background: white;
  color: black;

  flex-shrink: 0;

  @extend .commonTag;
}

.trackListItem__actionBar {
  margin: (-$pd_normal) (-$pd_normal);
  margin-top: 10px;
  padding: $pd_normal - 5;

  background: rgba(0, 0, 0, 0.1);

  height: 50px;
  box-sizing: border-box;

  @extend %layout__row, %layout__align--vt;
}

.trackListItem__stats {
  margin-left: 4px;
  @extend %layout__align--vt;
}

.trackListem__statsItem {
  margin-right: $pd_normal + 5;
}

.trackListItem__uploadDate {
  text-align: right;
  color: rgba(255, 255, 255, 0.5);

  @extend %layout--grow, .commonText__weakText;;
}

/** Is active **/

.trackListItem.isActive {
  .trackListItem__backgroundArtwork {
    transform: scale(1);
    opacity: 1;
    filter: grayscale(0);
  }
}

/** Has background art **/

.trackListItem.hasBgArt {
  .trackListItem__foreground {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 65%, rgba(0,0,0,0.5) 100%);
  }

  .trackListItem__actionBar {
    background: transparent;
  }

  .trackListItem__content {
    background: rgba(0, 0, 0, 0.4);
  }
}

.trackList {
  padding: $pd_large;
  padding-bottom: 0px;

  display: block;
  overflow: hidden;
}

@media screen and (max-width: 850px) {
  .trackListItem__artwork {
    height: 60px;
    width: 60px;

    background: $c_trans-dark-1;
  }

  .trackListItem {
    padding: 15px;
    border-radius: 0px;
    box-shadow: none;
    background: none;
    margin-bottom: 0px;
    display: flex;

    &.isActive {
      background-color: $c_trans-dark-2;

      .trackListItem__primaryInfo {
        color: $c_accent;
      }
    }

    transition: all 200ms ease;
  }

  .trackListItem__primaryInfo {
    font-size: 14px;
    transition: all 200ms ease;
    padding: 10px 0px;
  }

  .trackListItem__user {
    opacity: 0.5;
    font-size: 13px;
  }

  .trackListItem__placeholder {
    height: 60px;
    padding: 15px;
    margin-bottom: 0px;
  }

  .trackList {
    padding: 0px;
  }
}
