.trackView {}

.trackView__hero {
  position: relative;
}

.trackView__background {
  position: absolute;

  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  overflow: hidden;
}

.trackView__blurArtwork {
  transform: scale(3.8);

  @extend %layout__align--vt, %layout__align--hz, .transition__slow;
}

.trackView__backgroundArtwork {
  transform: scale(1.5);

  width: 100%;
  height: 100%;

  @extend .transition__slow;
}

.trackView__backgroundFade {
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.33) 72%, rgba(0,0,0,0.75) 100%);
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0px;
  opacity: 0;

  @extend .transition__slow;
}

.trackView__foreground {
  padding: $pd_large;
  position: relative;

  background: rgba(0, 0, 0, 0.7);

  @extend %layout__row, .transition__slow;
}

.trackView__artwork {
  height: 400px;
  width: 400px;

  padding-right: $pd_normal + 5;
  flex-shrink: 0;
}

.trackView__heroMain {

  @extend %layout__col, %layout--grow;
}

.trackView__heroHeader {
  padding-top: $pd_small - 5;
  align-items: flex-start;

  @extend %layout__row, %layout__align--vt;
}

.trackView__primaryInfo {
  padding: 5px 0px;
  padding-left: $pd_normal + 5;

  height: 48px;
  box-sizing: border-box;

  justify-content: space-between;
  @extend %layout--grow, %layout__col;
}

.trackView__title {
  font-size: 18px;
}

.trackView__type {
  color: rgba(255, 255, 255, 0.5);
}

.trackView__genreBadge {
  color: black;
  background: white;

  max-width: 200px;

  @extend .commonTag;
}

.trackView__heroBody {
  justify-content: flex-end;

  @extend %layout__col, %layout--grow;
}

.trackView__analyser {
  opacity: 0;

  @extend .transition__quick;
}

.trackView__heroFooter {
  padding: $pd_normal 0px;
  padding-bottom: $pd_normal - 7px;
}

.trackView__body {}

.trackView__actionBar {
  padding: $pd_large;
  padding-left: 0px;
  padding-right: 0px;

  background: $c_primary-dark;
  border-bottom: solid 1px $c_trans-light-1;

  @extend %layout__row, %layout__align--vt;
}


.trackView__userBadge {
  width: 200px;

  margin-right: $pd_normal;
  padding-right: $pd_normal;

  border-right: solid 1px $c_trans-light-1;
}

.trackView__stats {
  margin-left: $pd_normal;

  @extend %layout--grow;
}

.trackView__main {
  margin-top: $pd_large;
  @extend %layout__row;
}

.trackView__content {


  @extend %layout--grow;
}

.trackView__description {
  margin-bottom: $pd_large;
  padding-bottom: $pd_large;

  border-bottom: solid 1px $c_trans-light-1;
}

.trackView__sidebar {
  width: 300px;
  flex-shrink: 0;

  margin-left: $pd_large;
  padding-left: $pd_large;

  border-left: solid 1px $c_trans-light-1;
}

.trackView__sidebarArtwork {
  width: 300px;
  height: 300px;
}

/** Tracview active **/

.trackView.isActive {

  .trackView__foreground {
    background: $c_overlay-bg;
  }

  .trackView__blurArtwork {
    transform: scale(2.5);
  }

  .trackView__backgroundArtwork {
    transform: scale(1);
  }

  .trackView__analyser {
    opacity: 1;
  }
}

/** Has background art **/

.trackView.hasBgArt {
  .trackView__foreground {
    background: rgba(0, 0, 0, 0.1);
    @extend .transition__quick;
  }

  .trackView__artwork {
    padding-right: 0px;
    width: 0px;
    height: 600px;
    overflow: hidden;
  }

  .trackView__heroHeader, .trackView__heroFooter {
    opacity: 0;
    @extend .transition__quick;
  }

  .trackView__analyser {
    transform: translateY(45px);
    @extend .transition__quick;
  }

  .trackView__backgroundFade {
    opacity: 1;
  }

  &:hover, &.isBuffering, &.isPaused {
    .trackView__foreground {
      background: rgba(0, 0, 0, 0.6);
    }

    .trackView__backgroundFade {
      opacity: 0;
      transition-duration: 200ms;
    }

    .trackView__heroHeader, .trackView__heroFooter {
      opacity: 1;
    }

    .trackView__analyser {
      transform: translateY(0px);
    }
  }
}

/** Hover

.trackView__foreground {
  background: rgba(0, 0, 0, 0.6);
}

.trackView__backgroundFade {
  opacity: 0;
  transition-duration: 200ms;
}

.trackView__heroHeader, .trackView__heroFooter {
  opacity: 1;
}

.trackView__analyser {
  transform: translateY(0px);
}

**/
