// Variables

$small-playbutton-size: 35px;
$big-playbutton-size: 50px;
$playbutton-size: $small-playbutton-size;

// Classes

.playButton {
  width: $playbutton-size;
  height: $playbutton-size;

  border: solid 2px rgba(255, 255, 255, 0);
  background: rgba(255, 255, 255, 0.07);

  @include shapeMask__rounded(100%);
  @extend %layout__align--hz, %layout__align--vt, .transition__quick;

  &:hover {
    background: rgba(255,255,255,0.2);
    cursor: pointer;
  }

  &:active {
    background: rgba(255,255,255,0.5);
  }

  &.isActive {
    background: white;
  }

  // Modifiers

  &--big {
    width: 44px;
    height: 44px;
  }
}

.playButton svg {
  width: 15px;
  height: 19px;
}

.playButton.isActive path {
  fill: black;
}

.playButton--big svg {
  width: 19px;
  height: 19px;
}

.playButton--big .playButton__spinner {
  width: 23px;
  height: 23px;
}


.playButton--small {
  width: 25px;
  height: 25px;
}

.playButton--small .playButton__spinner {
  width: 12px;
  height: 12px;

  border-width: 2px;
}

.playButton--small svg {
  width: 11px;
  height: 11px;
}

// Spinner

.playButton__spinner {
  width: 15px;
  height: 15px;

  border-radius: 100%;

  border-style: solid;
  border-color: transparent;
  border-right-color: black;
  border-left-color: black;
  border-width: 3px;

  animation: k__common-spin-cw 600ms linear infinite;
}
