// Queue Item

.queueItem {
  margin: $pd_normal 0px;
  background: white;

  @extend .shadow__light;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--isCollapsed {
    margin: 0px 0px;

    .queueItemCollapseButton {
      transform: rotate(0deg);
    }
  }
}

.queueItemCollapseButton {
  transform: rotate(180deg);
}

.queueItem__header {
  padding: $pd_normal;
  justify-content: space-between;
  font-size: 13px;

  @extend %layout__row, %layout__align--vt;
}

.queueItem__actions {
  @extend %layout__row, %layout__align--vt;
}

.queueItem__body {
  transform: scaleY(1);
  transform-origin: top;
}

.queueItem__length {
  color: $c_trans-dark-3;
}

.queueItem__footer {
  padding: $pd_small;
}

// Track item

/** Placeholder **/

.queueTrackItem__placeholder {
  padding: $pd_normal;

  @extend %layout__row;
}

.queueTrackItem__placeholderArtwork {
  background: $c_trans-dark-2;

  width: 45px;
  height: 45px;

  margin-right: $pd_normal;
}

.queueTrackItem__placeholderBody {
  @extend %layout--grow;
}

/** Item **/

.queueTrackItem {
  padding: $pd_normal;
  overflow: hidden;
  font-size: 13px;
  position: relative;

  &:hover {
    background: $c_trans-dark-1;
    cursor: pointer;
  }

  &:active {
    background: $c_trans-dark-2;
  }

  &--isActive {
    color: $c_accent;
  }

  @extend %layout__row, .transition__quick;
}

.queueTrackItem__artwork {
  height: 45px;
  width: 45px;

  flex-shrink: 0;
  margin-right: $pd_normal;

  background: $c_trans-dark-2;
}

.queueTrackItem__content {
  @extend %layout__align--hz, %layout__col;
}

.queueTrackItem__author {
  font-size: 13px;
  opacity: 0.7;
  margin-top: 4px;
}
