// Classes

.playerSeeker {
  pointer-events: none;
  opacity: 0.6;

  @extend %layout__row, %layout__align--vt, .transition__quick;

  &.isActive {
    opacity: 1;
    pointer-events: all;
  }
}

.playerSeeker__sliderInput {
  padding: 0px $pd_normal;

  @extend %layout--grow;
}
