// Variables

$transport-height: 55px;

// Classes

/** Player transport **/

.playerTransport__container {}

.playerTransport__space {
  height: $transport-height;
}

.playerTransport {
  height: $transport-height;

  left: 0px;
  right: 0px;
  bottom: 0px;

  background: $c_primary;
  z-index: 100;

  @extend %layout__row, %layout__align--vt, .commonFixed, .transition__quick, .shadow_light--top;
}

.playerTransport__button {
  height: $transport-height;
  width: $transport-height;

  opacity: 0.6;

  @extend %layout__align--vt, %layout__align--hz, .transition__quick;

  &:hover {
    opacity: 1;
  }

  &.isDisabled {
    opacity: 0.2;
    pointer-events: none;
  }

  .wd-button {
    width: 100%;
    height: 100%;
  }

  .wd-button__icon {
    margin: 0px;
  }
}

.playerTransport__controls {
  flex-shrink: 0;

  @extend %layout__align--vt;
}

.playerTransport__playToggleButton {
  svg, .wd-button__icon {
    width: 20px;
    height: 20px;
  }
}

.playerTransport__navigateButton {
  svg, .wd-button__icon {
    width: 32px;
    height: 32px;
  }
}

.playerTransport__seeker {
  min-width: 200px;

  padding-left: $pd_normal;
  padding-right: $pd_normal;

  @extend %layout--grow;

  .sliderInput {
    .sliderInput__fill {
      background: $c_accent;
    }
  }
}

.playerTransport__volume {
  min-width: 140px;
  padding-right: $pd_large + 5;

  @extend %layout__row, %layout__align--vt;

  .sliderInput {
    padding-left: $pd_small;
  }

  .playerTransport__volumeButton {
    flex-shrink: 0;
  }
}

.playerTransport__trackSummary {
  width: 330px;

  @extend %layout__row, %layout__align--vt;
}

.playerTransport__trackInfo {
  align-items: space-between;
  @extend %layout__col;
}

.playerTransport__trackArtwork {
  padding-right: $pd_normal;
}

.playerTransport__trackTitle {
  max-width: 270px;
  font-size: 14px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  padding-bottom: 2px;
}

.playerTransport__queueInfo {
  min-height: 16px; // Spinner size is 10px
  padding-top: 2px;

  @extend %layout__row, %layout__align--vt, .commonText__weakText;
}

.playerTransport__queueLoading {
  padding-right: 5px;
}

.playerTransport__queueList {
  width: 400px;

  @extend %layout__col;

  .popover__content {
    background: $c_trans-dark-1;
  }
}

.playerTransport__queueListContent {
  height: calc(100vh - 195px);
}

.queueList__content {
  height: calc(100vh - 195px);
}

.playerTransport__toggleGhost {
  @extend .playerTransport__button;
}

.playerTransport__toggleButton {
  bottom: 0px;
  right: 0px;
  z-index: 100;

  transform: rotate(180deg) translateZ(0);

  @extend .commonFixed, .transition__quick;

  &.transportActive {
    transform: rotate(0deg) translateZ(0);
  }
}

.playerTransport__actions {
  margin-right: 10px;
}

.playerControls {
  @extend %layout__row, %layout__align--vt;
}

.playerControls__shuffle, .playerControls__repeat {
  svg {
    height: 20px;
    width: 20px;
  }
}

.playerControls__next a, .playerControls__prev a {
  .button__icon {
    width: 24px;
    height: 24px;
  }
}


.playerControls__toggle {
  height: 55px;
  width: 55px;

  @extend %layout__align--vt, %layout__align--hz;
}
