.anim__dropdownInput-enter {
  opacity: 0;
  max-height: 0px;
}

.anim__dropdownInput-enter-active {
  opacity: 1;
  max-height: 250px;
}

.anim__dropdownInput-leave {
  opacity: 1;
  max-height: 250px;
}

.anim__dropdownInput-leave-active {
  opacity: 0;
  max-height: 0px;
}
