@keyframes k__popover--enter {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes k__popover--leave {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-5px);
  }
}

.anim__popover-enter {
  opacity: 0;
  transform: translateY(-5px);
  animation-name: k__popover--enter;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

.anim__popover-leave {
  animation-name: k__popover--leave;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}
