.UserViewContent {
  > .buttons {
    padding: 20px;

    display: flex;
    justify-content: flex-end;

    margin-top: -77px;
    position: relative;
  }

  > .buttons > * {
    margin-left: 10px;
  }

  > .body {
    background: rgba(0, 0, 0, 0.06);
  }
}
