.UserGridItem {
  padding: 20px;
  width: 20%;
  box-sizing: border-box;

  > .avatar {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    overflow: hidden;
    z-index: 1;

    position: relative;
    padding-top: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);

    display: block;
  }

  > .avatar > .cheapImage {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }

  > .displayName {
    padding: 15px;

    font-weight: 500;
    background: rgba(0, 0, 0, 0.3);

    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
