.UserView {
  > .body {
    display: flex;
    min-height: 100vh;
  }

  > .body > .sidebar {
    width: 340px;
    background: rgba(0, 0, 0, 0.17);
  }

  > .body > .content {
    flex-grow: 1;
  }
}
