.UserViewSidebar {
  padding: 30px;

  > .avatar {
    height: 280px;
    width: 280px;

    border-radius: 3px;
    overflow: hidden;
    position: relative;
    z-index: 1;

    margin-top: -155px;
    background: black;
  }

  > .primaryInfo {
    margin-top: 13px;
  }

  > .primaryInfo > .displayName {
    font-size: 30px;
    font-weight: 500;
    line-height: 28px;
  }

  > .primaryInfo > .userType {
    margin-top: 7px;
    font-size: 17px;
  }

  > .bio {
    margin-top: 30px;
    font-size: 14px;

    line-height: 20px;
  }

  > .detailInfo {
    margin-top: 30px;
    font-size: 16px;
  }

  > .detailInfo > .point {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  > .detailInfo > .point:last-child {
    margin-bottom: 0px;
  }

  > .detailInfo > .point > .icon {
    margin-right: 15px;

    height: 14px;
    width: 14px;
  }
}
