.UserViewBanner {
  height: 300px;

  display: flex;

  align-items: center;
  justify-content: center;

  overflow: hidden;
  position: relative;

  > .image {
    transform: scale(2.5);
  }

  > .filter {
    position: absolute;

    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    background: $c_trans-dark-3;
  }
}
