.uploadItem {
  background: $c_primary;

  padding: 25px;
  border-radius: 3px;

  margin-bottom: $pd_large;
  position: relative;

  @extend .shadow__light;
}

.uploadItem__tabRow {
  padding-bottom: 15px;
  margin-bottom: 15px;

  border-bottom: solid 1px $c_trans-light-1;
}

.uploadItem__body--row {
  @extend %layout__row;
}

.uploadItem__footer {
  justify-content: space-between;
  margin-top: $pd_normal;

  @extend %layout__align--vt;
}

.uploadItem__artwork {
  margin: -25px;

  margin-right: $pd_large;
}

.uploadItem__main {
  margin: -10px;

  @extend %layout__col, %layout--grow;
}

.uploadItem__mainBody {
  @extend %layout--grow;
}

.uploadItem__title {
  font-size: 16px;
  margin-bottom: $pd_small;
}

.uploadItem__type {
  @extend .commonText__weakText;
}

.uploadItem__progressStatus {
  @extend %layout__row, %layout__align--vt;
}

.uploadItem__spinner {
  margin-right: $pd_normal;
}

.uploadItem__statusText {
  font-size: 13px;
}

.uploadItem__mainFooter {
  margin: -15px;
  padding: 15px;

  background: $c_trans-dark-1;

  position: relative;

  .wd-progress {
    background: $c_trans-dark-1;
  }
}

.uploadItem__progressContainer {
  @extend %layout__row;

  position: absolute;
  top: -2px;
  left: 0px;
  right: 0px;
}

.uploadItem__uploadProgress, .uploadItem__processingProgress {
  width: 50%;
}
