.userBadge {

}

.userBadge__avatar {
  @include shapeMask__rounded(100%);
}


.userBadge__content {
  padding: 5px 0px;
}

.userBadge__displayName {
  color: $c_accent;
  font-size: 15px;

  padding-bottom: 7px;
}

.userBadge__userType {
  @extend .commonText__weakText;
}
